/*@font-face {
	font-family: chillyui;
	src: url(fonts/chilly-ui/ChillyMedium.ttf);
}
@font-face {
	font-family: dodopop;
	src: url(fonts/dodopop/DodopopRegularpersonaluse-11dL.otf);
}
@font-face {
	font-family: lollipoptron;
	src: url(fonts/lollipoptron/Lollipoptron-7GPD.ttf);
}
@font-face {
	font-family: popstarregular;
	src: url(fonts/popstarregular/POPSTAR.TTF);
}
@font-face {
	font-family: elevation;
	src: url(fonts/elevation/Elevation.ttf);
}
@font-face {
	font-family: lexend-giga;
	src: url(fonts/lexend-giga/LexendGiga-Regular.ttf);
}*/

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: sans-serif;
	margin: 1em;
	background: #f2a65e;
	color: #272736;
	text-align: center;
	font-size: 1.2em;
	word-break: break-word;
}

button, input {
	font-size: 1.1rem;
	display: block;
	width: 100%;
	margin: 0.5em 0;
	border-radius: 0.3em;
}

input {
	background: #ffffeb;
	width: 97%;
	border: 0.2em #473b78 solid;
	outline: none;
}
input:focus {
	border: 0.2em #4da6ff solid;
}

button {
	background: #73275c;
	color: #ffe478;
	border: 0.2em solid #3e2347;
}
button:hover {
	background: #b0305c;
	border: 0.2em #422445 solid;
}